header{
	width: 100%;
	height: 70px;

	@include clearfix;

	.logo{
		float: left;
		margin-top: 10px;

		a{
			img{
				width: 135px;
				height: 40px;

			}
		}
	}

	nav{
		float: left;
		margin: 15px 0 0 70px;

		@include breakpoint($tablet){
			display: none;
		}


		ul{
			li{
				display: inline-block;

				a{
					@include transition(.3s)
					  &:hover,
					  &:focus{
					    text-decoration: none !important;
					    color: $branco;
					    background-color: $verde;
					 }
					text-transform: uppercase;
					color: $preto;
					font-weight: $regular;
					display: inline-block;
					padding: 10px 20px;
					text-decoration: none;
					box-sizing: border-box;
					margin: 0;
				}
			}
		}
	}

	ul.user{
		float:right;
		margin: 25px 0 0 0;

		li{
			display: inline-block;
			margin: 0 20px 0 0;

			a{
				text-transform: uppercase;
				color: $preto;

				span.icon-user{
					padding:6px 10px;
				}

			}
		}
	}
}

// MENU MOBILE
*, *:after, *:before {
  box-sizing: border-box; 
}

// Icone do menu mobile
.animenu__toggle {
  display: none;
  cursor: pointer;
  background-color: $verde;
  border: 0; 
  padding: 10px;
  height: 40px;
  width: 40px;

  &:hover {
    background-color: $secondaryMenuBackground;
  }
}

.animenu__toggle__bar {
  display: block;
  width: 20px; height: 2px;
  background-color: #fff;    
  transition: .15s cubic-bezier(0.75, -0.55, 0.25, 1.55);

  &+.animenu__toggle__bar {
    margin-top: 4px;
  }  
}

.animenu__toggle--active {
  .animenu__toggle__bar {
    margin: 0;
    position: absolute;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: rotate(-45deg);
    }        
  }
}

.animenu {
  display: none;

  @include breakpoint($tablet){
			display: block;

	}

  ul {
    padding: 0;
    list-style: none;    
    font: 0px 'Open Sans', Arial, Helvetica; 
    position: absolute; 
    margin-left: -220px;
  }


  li, a {
    display: inline-block;
    font-size: 15px;
    width: 100%;
  }

  a {
    color: lighten($verde, 60%);
    text-decoration: none;
  }
}

// First level -> main menu items
.animenu__nav {
  background-color: $verde; 

  @include breakpoint($tablet){
			display: none;
		}       

  > li {
    position: relative;
    border-right: 1px solid lighten($verde, 20%);

    > a {
      padding: 20px 60px;
      text-transform: uppercase;
    }    

    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
         width: 100%;

                
      }

      > a {
        color: #fff;
      }
    }
  }
}


// The main breakpoint is 767px
// Adjust the first and second levels display
  @include breakpoint($tablet){
  .animenu__toggle {
    display: inline-block;
  }

  .animenu__nav,
  .animenu__nav__child {
    display: none;
  }

  // First level -> main menu items  
  .animenu__nav {
    margin: 20px 0;

    > li {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid lighten($verde, 25%);

      &:last-child {
        border: 0; 
      }

 

      > a {
        border-color: $verde;
        position: relative; //dropdown caret


      }
    }

    a:hover {
      background-color: $secondaryMenuBackground;
      border-color: $secondaryMenuBackground;
      color: #fff;  
      width: 100%;
      padding: 20px 60px;    
    }
  }

  
}

// Expanding the animenu
.animenu__nav--open {
  display: block !important;

  & .animenu__nav__child {
    display: block;
  }
}


	