.main{

	.banner{
		@include clearfix;

		min-height: 600px;
		width:100%;
		
		background-image: url('../images/img-banner.png');
		background-repeat: no-repeat;
		background-position:top center;
		background-color: #000;
		background-size: cover;

		h1, label, p{color:$branco;}

		h1{
			font-weight: $bold;
			font-size: 46px;
			margin: 140px 0 50px 0;

			@include text-shadow;
		}

		form.busca-home{
			@include clearfix;

			@include breakpoint($celular){
				@include flexbox;
				@include flex-direction(column);

			}

			.item{
				float:left;
				display: inline;
				margin-right: 20px;

				label {
					@include text-shadow;
					font-weight: $regular;

					@include breakpoint($celular){
						@include clearfix;
						
					}

				}

				input{
					display: block;
					padding: 20px 15px;
					width: 410px;
					border: 1px solid #CCC;

					@include breakpoint($tablet){
						width: 250px;
					}

					@include breakpoint($celular){
						position: relative;
						
						clear: both;
					}

				}

			}

			.bt-busca-home{
				@include transition(0s)

				padding: 25px 35px 35px 25px;
				background-color: $verde;
				color: $branco;
				margin-top:25px;
				width: 40px;
				height: 40px;

			}

			.bt-busca-home:hover{
				background-color: darken($verde, 10%);
			}

		}


		p{
			margin-top: 20px;
			@include text-shadow;
			
			span{
				font-weight: $bold;
				font-size: 36px;
			}
		}
	}

	.call-for-action{
		background: $verde;
		color: $branco;
		font-size: 20px;
		font-weight: $light;
		height: 70px;
		padding-top:20px;
		
		@include flexbox;
		@include justify-content(center);

		p{
			margin-right: 20px;
		}

		.btn{
        	@include button-variant($verde, $branco, $cinza);
    	}

	}

	.main-content{
		@include flexbox;
		@include flex-flow(flex-wrap);

		@include breakpoint($celular){
			@include flex-direction(column);
		}

		@include breakpoint($tablet){
				@include flex-direction(column);
		}

		section.col-left{
			width: 70%;

			@include breakpoint($celular){
				width: 100%;
			}

			@include breakpoint($tablet){
				width: 100%;
			}

			h3{
				margin: 60px 0 40px 0;
				font-size: 16px;
				text-transform: uppercase;
			}

			ul{
				li{
					border-top: 1px solid #CCC;
					padding: 20px 0;
					height:100px;

					img{}

					p.vaga-titulo{
						font-size: 16px;
						font-weight: $bold;

						a{
							color: $preto;
							text-dexoration: none;
							@include transition(.1s)
							  &:hover,
							  &:focus{
							    color: $verde;
							 }
					 	}

					}

					p.vaga-empresa{
						color: $cinza;
						font-weight: $light;
						float: left;
						margin-right:20px;

						span{
							padding-right: 10px;
						}
					}

					p.vaga-cidade{
						color: $cinza;
						font-weight: $light;
						float: left;
						display: inline;

						span{
							padding-right: 10px;
						}
					}

				}

			}

			.btn{
        		@include button-variant($branco, $verde, $branco);
    		}

		}

		section.col-right{
			width: 30%;
			padding-left: 40px;

			@include breakpoint($celular){
				width: 100%;
				padding-left: 0px;
			}

			@include breakpoint($tablet){
				width: 100%;
				padding: 0;
			}
				
			h3{
				margin: 60px 0 40px 0;
				font-size: 16px;
				text-transform: uppercase;
			}

			.destaque-square{
				border: 1px solid #CCC;
				background: #fbfbfb;
				padding: 30px;

				.destaque-titulo{
					font-size: 16px;
					font-weight: $bold;

					a{
						color: $preto;
						text-dexoration: none;
						@include transition(.1s)
							&:hover,
							&:focus{
								color: $verde;
							}
					 	}

					}

				.destaque-empresa{
					color: $cinza;
					font-weight: $light;
					float: left;
					margin-right:20px;

					span{
						padding-right: 10px;
					}
				}

				.destaque-cidade{
					color: $cinza;
					font-weight: $light;
					float: left;
					display: inline;

					span{
						padding-right: 10px;
					}
						
				}

				.destaque-descricao{
					float:left;
					display: block;
					margin: 20px 0;
					line-height: 22px;
				}

				.btn{
        			@include button-variant($branco, $verde, $branco);
        			margin-top:20px;
    			}

			}

		}

	}

	section.parceiros{


		h3{
			margin: 80px 0 40px 0;
			font-size: 16px;
			text-transform: uppercase;
		}

		.itens-parceiros{
			@include flexbox;
			@include justify-content(center);

			@include breakpoint($celular){
				@include flex-direction(column);
				@include align-items(center);
			}

			@include breakpoint($tablet){
				@include flex-wrap(wrap);
				
			}



			.parceiro{
				padding: 50px 80px;
				border: solid #CCC 1px;
			}
			
	    }

	    .btn{
	        		@include button-variant($branco, $verde, $branco);
	        		margin-top:20px;

	    	}

	}

	section.informacoes-uteis{

		h3{
			margin: 80px 0 40px 0;
			font-size: 16px;
			text-transform: uppercase;
		}

		.itens-info{
			@include flexbox;
			@include justify-content(space-between);

			@include breakpoint($celular){
				@include flex-direction(column);
				@include align-items(center);
			}

			@include breakpoint($tablet){
				@include flex-wrap(wrap);
			}

			
			.info-box{
				width: 300px;

				@include breakpoint($celular){
					margin-bottom: 50px;
				}

				@include breakpoint($tablet){
					margin-bottom: 40px;
				}

				p.info-titulo{
					margin:10px 0 10px 0;
					font-size: 16px;
					font-weight: $bold;

					a{
					color: $preto;
					text-dexoration: none;
						@include transition(.1s)
							&:hover,
							&:focus{
								color: $verde;
						}

					}

				}

				.info-stats{
					@include flexbox;

					p.info-data{
					float: left;
					color: $cinza;
					font-weight: $light;
					margin-right: 20px;

						span{
							padding-right: 10px;
						}
						
					}

					p.info-comments{

						float: left;
						display: inline;
						color: $cinza;
						font-weight: $light;

						span{
							padding-right: 10px;
						}
						
					}

				}

				
				p.info-descricao{
					@include clearfix;
					line-height: 22px;
				}

				.btn{
        		@include button-variant($branco, $verde, $branco);
        			margin-top:20px;
    			}

			}

		}

	}

}